*{
    margin-left: 15px;
    margin-top: 5px;
}
td{
    padding-bottom: 15px;
}
main{
    margin: 0px 35%;
    
}#tabla2{
    margin-left: 10px,
}
input[type=text]{
    width: 250px;
    height: 30px;
    border-radius: 6px;
}
img{
    width: 70px;                            
}
#tRegister{
    text-align: left;
    padding: 5% 0px;
    width: 900px;
}
#title2{
    margin-left: 40%;
}
  input[type=email]{
    width: 250px;
    height: 30px;
    border-radius: 6px;
}
  input[type=number]{
    width: 100px;
    height: 30px;
    border-radius: 6px;
}
  input[type=select]{
    width: 250px;
    height: 30px;
    border-radius: 6px;
}
#userId{
    margin: 15px 30%;
}
  #select{
    width: 250px;
    height: 30px;
    border-radius: 6px;

  }
  #id_accion{
      margin-left: 10%;
  }
  button{
    width: 200px;
    border:1px solid rgb(75, 64, 233);
    background-color: rgb(75, 64, 233);
    border-radius: 10px;
    padding: 8px 25px;
    margin: 20px 40%;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p{
    color: slategray;
    margin-left: 15%;
}
